.loadingStyle {
  text-align: center;
  margin-top: 35vh;
  color: #2d2d2d;
  font-size: 19px;
  letter-spacing: 2px;
  animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.errorStyle {
  text-align: center;
  color: #e63946;
  font-size: 25px;
}

.errorIcon {
  composes: errorStyle;
  font-size: 40px;
  margin-top: 28vh;
}

.productContainer {
  margin-top: 4vh;
  display: flex;
  padding-left: 13px;
  padding-right: 11px;

  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 23px;
  /* border: 5px solid purple; */
}

.productStyle {
  /* border: 1px solid red; */
  width: 300px;
  text-align: center;
  padding: 14px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 30px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  background-color: #fff7f483;
}

.imageStyle {
  object-fit: contain;
  height: 300px;
  width: 300px;
  margin-bottom: 15px;
}

.shopHeading {
  font-size: 23px;
  text-align: center;
}

.buttonStyle {
  margin-top: 15px;
  border-radius: 25px;
  border-style: hidden;
  color: #ffe8d6;
  background-color: #2d2d2d;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.buttonStyle:hover {
  cursor: pointer;
  background-color: #202020;
}
