.loadingStyle {
  text-align: center;
  margin-top: 35vh;
  color: #2d2d2d;
  font-size: 19px;
  letter-spacing: 2px;
  animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.errorStyle {
  text-align: center;
  color: #e63946;
  font-size: 25px;
}

.errorIcon {
  composes: errorStyle;
  font-size: 40px;
  margin-top: 28vh;
}

.productContainer {
  margin-top: 4vh;
  display: flex;
  padding-left: 2.05vh;
  padding-right: 1.8vh;

  /* justify-content: center; */
  flex-wrap: wrap;
  gap: 1.68vw;
  /* border: 5px solid purple; */
}

.shopHeading {
  font-size: 23px;
  text-align: center;
}
