.loadingStyle {
  text-align: center;
  margin-top: 35vh;
  color: #2d2d2d;
  font-size: 19px;
  letter-spacing: 2px;
  animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.errorStyle {
  text-align: center;
  color: #e63946;
  font-size: 25px;
}

.errorIcon {
  composes: errorStyle;
  font-size: 40px;
  margin-top: 28vh;
}
