.container {
  /* padding-left: 1000px; */
  /* padding-bottom: 0px; */
  /* border: 2px solid red; */
}

.homeInfo {
  margin-bottom: 7px;
  margin-left: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17.5px;
  /* border: 1px solid pink; */
}

.image {
  /* border: 1px solid darkgreen; */
  display: block;
}
