:global(body) {
  margin: 0;

  /* background-color: #f9f6f2; */
  background-color: white;
  color: #2d2d2d;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  /* border: 5px solid purple; */
}

.navbar {
  /* border: 1px solid green; */
  display: flex;
  padding-left: 20px;
  align-items: center;
  padding-right: 40px;
  /* border: 1px solid red; */
  gap: 3vw;
  color: white;
  background-color: #2d2d2d;
  margin-bottom: 3vh;
}

.logo {
  text-align: center;
  padding-top: 5.6px;
  padding-bottom: 5.6px;
  font-size: 3vw;
  color: #2d2d2d;
  background-color: #ffe8d6;
}

.link {
  color: #ffe8d6;
  text-decoration: none;
}

.link:hover {
  color: #ff6b6b;
}
.cart {
  composes: link;
  margin-left: auto;
  font-size: 22px;
  padding-top: 3.25px;
  padding-bottom: 3.52px;
}

.footer {
  /* border: 1px solid purple; */
  padding-top: 5px;
  padding-bottom: 3px;
  margin-top: auto;
  text-align: center;
  color: #ffe8d6;
  background-color: #2d2d2d;
}

.cartcount {
  position: absolute;
  left: 1329px;
  top: 60.5px;
  font-size: 14.15px;

  color: #ffe8d6;
}
